src/main/mule/sfdc-api-generic/1.0.0/sfdc-api-generic-1.0.0-implementations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get:\(object)\(sfdc-record-id):sfdc-api-generic-1.0.0-impl">
        <flow-ref doc:name="Generate Query" doc:id="9e5bcfcb-d162-4634-9512-8d473115a400" name="common:building-the-query-single-flow" />
		<logger level="INFO" doc:id="b13b4408-d338-43bb-a258-ed7251922726" message="#[vars.query]"/>
		<salesforce:query-single doc:name="Query single" doc:id="08299b7d-c5c8-4aad-9385-89ac27f76522" config-ref="Salesforce_Connection_OEM">
			<salesforce:salesforce-query >#[vars.query]</salesforce:salesforce-query>
		</salesforce:query-single>
		<logger level="INFO" doc:name="Logger" doc:id="fecc14d8-aa8e-47b4-8ebe-0f3aaabfeafe" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="471934de-09fb-4c54-932e-df30c9eb9c2c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="dcd1177c-3754-4e7b-808f-1fc6e55f21f9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\(object)\recent:sfdc-api-generic-1.0.0-impl">
		<flow-ref doc:name="Generate Recent Query" doc:id="ca2fba03-30de-4e33-901c-a6df9a70d204" name="common:building-the-query-recent-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="740cffcf-d078-48fb-8f64-c54e5fd953bf" message="#[vars.query]"/>
		<salesforce:query doc:name="Query" doc:id="6c79db01-0060-4deb-80f1-2b3d9a08d615" config-ref="Salesforce_Connection_OEM">
			<salesforce:salesforce-query >#[vars.query]</salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="13f7af4f-844d-4824-a2b6-6675729b8c88" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="dae852cb-8c5c-4c34-9bed-f7939511f429" >
			<ee:message >
				<ee:set-payload >
					<![CDATA[%dw 2.0
					output application/json
					---
					(payload map $) default null
					]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
